@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Styles for phone number input to match the design
 */
.selected-flag {
	width: 52px !important;
	padding: 0 !important;
}

.flag {
	width: 24px !important;
	height: 16px !important;
	background-repeat: no-repeat !important;
	background-image: url(../assets/az.svg) !important;
	background-position: center !important;
	margin-top: 0 !important;
	left: 14px !important;
	transform: translateY(-50%) !important;
}

/*
 * Styles for the date picker
 */
.MuiInputBase-root {
	background-color: #ffffff !important;
}

/*
 * Styles for circular progress
 */
.MuiCircularProgress-root {
	color: #764a34 !important;
}
